<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> QuadionMovies</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <div ng-app="imdb">
        <div ng-controller="actorCtrl as $ctrl">
            <button class="button">    boton   </button>
            {{$ctrl.unTexto}}
        </div>
        <
    </div>

    <script src="~/IMDB/Scripts/angular.js"></script>
    <script src="~/IMDB/Scripts/app/ActorController.js"></script>

    @*@section scripts {
        @Scripts.Render("~/Scripts/angular.js")
        @Scripts.Render("~/Scripts/app/ActorController.js")

        @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
    }*@

</body>
</html>
